<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dlily_project</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dlily_project.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @inject dlily_project.DAL.ApplicationDbContext _context
    <script>

        @{
            @if (!string.IsNullOrEmpty(ViewBag.error))
            {
                <text>
                    Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '@Html.Raw(ViewBag.error)'
                    });
                </text>
            }

            @if (!string.IsNullOrEmpty(ViewBag.success))
            {
                <text>
                    Swal.fire({
                    icon: 'success',
                    title: 'Success!',
                    text: '@Html.Raw(ViewBag.success)',
                    showConfirmButton: true
                    });
                </text>
            }
        }




        function confirmLogout() {
        Swal.fire({
        title: 'Are you sure?',
        text: "You will be logged out of your account.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, log out',
        cancelButtonText: 'Cancel'
        }).then((result) => {
        if (result.isConfirmed) {
        window.location.href = '@Url.Action("Logout", "Auth")';
        }
        });
        }
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav ms-3">
                        <a class="nav-link" id="homeLink" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="nav-link" id="hotelsLink" asp-controller="Hotel" asp-action="hotels">Hotels</a>
                        <a class="nav-link" id="companiesLink" asp-controller="Home" asp-action="companies">Companies</a>
                        <a class="nav-link" id="touristPlacesLink"  asp-controller="Attractions" asp-action="Index">Tourist Places</a>
                    </div>

                    <a class="navbar-brand mx-auto" href="#">DLYLY TOURISM</a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-flex gap-2">
                    @{

                        if (!User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Auth" style="color: white;" class="btn auth-btn sign-in-btn" id="signInBtn">Sign In</a>
                        }
                        else
                        {
                            if (User.FindFirstValue(ClaimTypes.Role) == "Tourist"){
                                var tourist = _context.Tourists.FirstOrDefault(x => x.Id == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)!));

                                if (tourist != null)
                                {

                                    string base64Image = Convert.ToBase64String(tourist.ProfilePicture);
                                    string imageUrl = "data:image/jpeg;base64," + base64Image;
                                    <img src="@imageUrl" alt="User" class="profile-img" id="profileImg">

                                    <div class="profile-dropdown" id="profileDropdown">
                                        <ul class="dropdown-menu">
                                            @{
                                                if (User.FindFirstValue(ClaimTypes.Role) == "Tourist")
                                                {

                                                    <li><a class="dropdown-item" asp-controller="Tourist" asp-action="Profile">Edit Profile</a></li>
                                                }
                                                else
                                                {
                                                    <li><a class="dropdown-item">Edit Profile</a></li>
                                                }
                                            }
                                            <li><a class="dropdown-item" href="@Url.Action("Cart", "Cart")">My Cart</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0);" id="logoutBtn" onclick="confirmLogout()">Logout</a></li>
                                        </ul>
                                    </div>
                                }
                            }
                            else
                            {
                                var tourgide = _context.Tourgides.FirstOrDefault(x => x.Id == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)!));
                                if (tourgide != null){
                                    string base64Image = Convert.ToBase64String(tourgide.ProfilePicture);
                                    string imageUrl = "data:image/jpeg;base64," + base64Image;
                                    <img src="@imageUrl" alt="User" class="profile-img" id="profileImg">

                                    <div class="profile-dropdown" id="profileDropdown">
                                        <ul class="dropdown-menu">
                                            @{
                                                if (User.FindFirstValue(ClaimTypes.Role) == "Tourist")
                                                {

                                                    <li><a class="dropdown-item" asp-controller="Tourist" asp-action="Profile">Edit Profile</a></li>
                                                }
                                                else
                                                {
                                                    <li><a class="dropdown-item">Edit Profile</a></li>
                                                }
                                            }
                                            <li><a class="dropdown-item" href="#">Support</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0);" id="logoutBtn" onclick="confirmLogout()">Logout</a></li>
                                        </ul>
                                    </div>
                                }



                            }
                        }
                    }
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="mb-5">
        @RenderBody()
    </main>
    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <span class="logo_name">DLYLY TOURISM</span>
                </div>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div>
                <div class="link-boxes">
                    <ul class="box">
                        <li class="link_name">Dlyly</li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Tourist Places</a></li>
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Companies</a></li>
                        <li><a href="#">Get Started</a></li>
                    </ul>
                    <ul class="box">
                        <li class="link_name">Tourism Services</li>
                        <li><a href="#">Tourist Packages</a></li>
                        <li><a href="#">Guide Booking</a></li>
                        <li><a href="#">Hotel Booking</a></li>
                        <li><a href="#">Tourist Transportation</a></li>
                    </ul>

                    @{
                        if (User.Identity.IsAuthenticated)
                        {
                            dynamic? t = null;


                            if (User.FindFirstValue(ClaimTypes.Role) == "Tourist")
                            {
                                t = _context.Tourists.FirstOrDefault(x => x.Id == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)!));
                            }
                            else
                            {
                                t = _context.Tourgides.FirstOrDefault(x => x.Id == int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)!));
                            }
                    <form action="@Url.Action("FeedBack", "Home")" method="post">
                        <ul class="box input-box">
                            <li class="link_name">Feedback</li>
                            <li>
                                <textarea name="message" placeholder="Enter your feedback here..." rows="3"></textarea>
                            </li>
                            <li>
                                <input type="hidden" name="id" value="@t.Id" />
                            </li>
                            <li>
                                <button type="submit" class="submit-button">Submit Feedback</button>
                            </li>
                        </ul>
                    </form>
                    }
                    }

                </div>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">
                    Copyright © 2025
                    <a href="#">DLYLY TOURISM.</a> All rights reserved
                </span>
                <span class="policy_terms">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms & Conditions</a>
                </span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
