@model List<HotelViewModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
    <link rel="stylesheet" href="~/css/hotel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div style="margin-top:6rem">
        @foreach (var hotel in Model)
        {
            <div class="hotel-card">

                <div class="hotel-image">
                    <img src="@hotel.HomeImage"
                         alt="Hotel Image">
                </div>
                <div class="hotel-content">
                    <div class="hotel-details">
                        <h2 class="hotel-name">@hotel.Name</h2>
                        <div class="stars">
                            @for (int i = 0; i < hotel.Rating; i++)
                            {
                                <i class="fas fa-star"></i>
                            }
                        </div>
                        <a href="@hotel.Location"
                           target="_blank" class="map-link">📍View on map</a>
                        <div class="facilities-box">
                            @{
                                int num = Math.Max(hotel.Services.Count - 3, 0);
                                int displayCount = Math.Min(3, hotel.Services.Count);
                            }

                            <div class="facilities">
                                @for (int i = 0; i < displayCount; i++)
                                {
                                    <span>@hotel.Services[i][0]</span>
                                }

                                @if (num > 0)
                                {
                                    <span>+@num</span>
                                }
                            </div>
                        </div>

                        <p class="description">@hotel.Description</p>
                    </div>
                    <div class="separator"></div>
                    <div class="hotel-footer">
                        <div class="price">
                            <span class="label">Avg price per night</span>
                            <span class="amount">@hotel.Price.ToString("c")</span>
                        </div>
                        <form method="post" action="@Url.Action("HotelDetails", "Home")">
                            <input type="hidden" name="hotelJson" value='@Newtonsoft.Json.JsonConvert.SerializeObject(hotel)' />
                            <button type="submit" class="check-btn">See More</button>
                        </form>

                    </div>
                </div>

            </div>
        }
    </div>
</body>

</html>